@page "/"
@using Front.Providers

@inject ScrumMasterBotAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div>Full name: @AuthenticationStateProvider.CurrentUser.FullName</div>
Welcome to your new app.