@using Front.Components
<h1>Приложение Blazor</h1>
<Home Title="Главная страница">
    <div>
        <h3>Отрывок</h3>
        <p>Высокой страсти не имея</p>
        <p>Для кода жизни не щадить,</p>
        <p>Не мог он джаву от сишарпа</p>
        <p>Как мы ни бились, отличить.</p>
    </div>
</Home>